.cabin-show-text {
  text-align: center;
}

.card-cabin-index > .fas {
  margin-right: 5px;
}

.card-cabin-index {
  padding: 5px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.no-dec-link {
  text-decoration: none !important;
  color: white;
  &:hover {
  	text-decoration: none !important;
  	color: white;
  }	
}

.reviews-container{
  margin-top: 20px;
}

.review-card{
  border: 2px solid #66462C;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: #F4F3EE;
}
