.cabin-show-text {
  text-align: center;
  h5 {
    
  }
}

.card-cabin-index > .fas {
  margin-right: 5px;
}

.card-cabin-index {
  padding: 5px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.no-dec-link {
  text-decoration: none !important;
  color: white;
  &:hover {
  	text-decoration: none !important;
  	color: white;
  }	
}