body{
  background-color: #F4F3EE;
}

h2  {
  text-align: center;
}

.countries-card {
  border-radius: 10px;
  border: 2px solid #659B5E !important;
}

.coutries-container{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  border-radius: 10px;
  width: 80vw;
}

.cabins-container{
  margin: 60px auto;
  display: grid;
  width: 80vw;
  background-color: #659B5E;
  border-radius: 10px;
  text-align: center;

}

.cabins-container > h2 {
  margin-top: 40px;
  color:white;
}

.card-cities{
  display:flex;
}

.card-cities > img {
  height: 120px;
}

.container {
  padding: 20px;
}
