body{
  background-color: #F4F3EE;
}

h2  {
  margin-top: 30px !important;
  text-align: center;
  color: #66462C;
}


.home-cabins-container{
  margin: 40px auto 0 auto;
  display: grid;
  width: 100vw;
  background-color: black;
  border-radius: 0px;
  text-align: center;
  grid-gap:15px;

}

.cabins-container > h2 {
  margin-top: 40px;
  color:white;
}

.card-cities{
  display:flex;
}

.card-cities > img {
  height: 120px;
}

.home-container {
  padding: 20px;
  display:grid;
  grid-gap: 20px;
}

#book-a-cabin-button{
  margin-top: 20px;
  background-color: #659B5E;
  color:white;
  border: 3px solid white;
}

#book-a-cabin-button:hover{
  background-color: white;
  color:#659B5E;
  border: 3px solid #659B5E;
}

.card-cabin-index{
  grid-gap: 15px;
}
