// Import page-specific CSS files here.
@import "home";
@import "cabins";

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #F4F3EE !important;
  // height: 80vh !important;
}

@import "profile";


.container {
    min-height: calc(100vh);
  }








// .navbar-important {
//   height: 10vh !important;
// }

// .footer-important {
//   height: 10vh !important;
// }


