// Import page-specific CSS files here.
@import "home";
@import "cabins";
@import "show";
@import "profile";

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: white !important;
  // height: 80vh !important;
}

.container {
    min-height: calc(85vh);
  }








// .navbar-important {
//   height: 10vh !important;
// }

// .footer-important {
//   height: 10vh !important;
// }


