#profile-page{
  .profile-buttons{
    justify-items: center;
  }

  .btn{

    background-color: #659B5E;
  }

  .cards-container{
    display: flex;
    flex-wrap: wrap;
  }

  .card-profile{
    width: 200px;
    margin: 20px;
  }
  .header{
    text-align: center;
  }
}
