
  .btn{

    background-color: #659B5E;
  }

  .cards-container{
    margin: 0px !important;
    margin: auto;
  }

  .card-profile{
    width: 80%;
  }
  .header{
    text-align: center;
  }
.profile-details {
  box-shadow: 0 0 2px $forgreen;
  margin: 40px auto;
  padding: 40px;
}

.profile-buttons{
  display: flex;
  justify-content: space-around;
  .btn{
    margin: 0 5px;
  }
}
