<div class="container">
  <div class="row justify-content-center">
    <h2 class="">Here are some of our cabins:</h2>
    <br>
    <div class="cards">
      <%= render 'cabin-index-cards' %>
    </div>
  </div>
</div>
