<div class="container">
  <div class="justify-content-center">
    <h2 style="color:#659B5E">Here are some of our cabins:</h2>
    <br>
    <div class="cards">
      <%= render 'cabin-index-cards' %>
    </div>
  </div>
</div>
