<div class="container">
  <div class="row justify-content-center">
    <h1>Here are some of our cabins:</h1>
    <div class="cards">
    <% @cabins.each do |cabin| %>
    <div class="card" style= "border: 1px solid black, margin: 50px">
     <h3><%= link_to cabin.name, cabin_path(cabin) %></h3>
     <h4><%= cabin.location %></h4>
    </div>
  <% end %>
    </div>
  </div>
</div>

