<div class="container">
  <div class="justify-content-center">
    <h2 style="color:#659B5E">Here are some of our cabins:</h2>
    <br>
    <div class="cards">
      <%= render 'cabin-index-cards' %>
    </div>
    <div id="map"
    style="width: 100%; height: 600px; margin-top: 30px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>


