<div class="d-flex justify-content-around footer-basic">
  <footer class="footer-create">
   <div class="social d-flex justify-content-around">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/JamesWordie/rails-flash-airbnb-cabin-clone"><i class="fab fa-github-square"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
  </div>
  <p class="fw-light text-black-50" >This website was made by James Wordie, Jonathan Simpson, Per Jensen & Matt Vile</p>
</footer>
</div>
