<div class="navbar">
	<div class="navbar-logo">
		<a class="navbar-brand" href="#">
			<img src="https://images.pexels.com/photos/2083465/pexels-photo-2083465.jpeg?cs=srgb&dl=pexels-louis-2083465.jpg&fm=jpg" width="60" height="60" alt="">
		</a>
	</div>
	<div class="navbar-search-bar">
		<div class="input-group">
			<input class="form-control form-control-lg border-end-0 border border-dark rounded-pill rounded-end" type="text" value="Start your search" id="example-search-input" />
			<span class="input-group-append">
				<button class="btn btn-outline-dark btn-lg border-start-0 rounded-pill rounded-start" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Actions
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#"> <%= link_to "Login", new_user_session_path, class: "btn" %> </a>
			<a class="dropdown-item" href="#"> <%= link_to "Sign up", new_user_registration_path, class: "btn" %> </a>
			<a class="dropdown-item" href="#"> <%= link_to "Profile", user_session_path, class: "btn" %> </a>
			<a class="dropdown-item" href="#"> <%= link_to "All Cabins", cabins_path, class: "btn" %> </a>
		</div>
	</div>
</div>
