<div class="navbar">
	<div class="navbar-container">
		<div class="navbar-logo">
			<div class="navbar-search-bar">
				<div class="input-group">
					<input class="form-control form-control-lg border-end-0 border border-dark rounded-pill rounded-end" type="text" value="Start your search" id="example-search-input" />
					<span class="input-group-append">
						<button class="btn btn-outline-dark btn-lg border-start-0 rounded-pill rounded-start" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="navbar-account-login">
			</div>
		</div>
	</div>
</div>
