<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?USA" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> USA </h4>
    </div>
</div>

<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?UK" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> UK </h4>
    </div>
</div>

<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?ireland" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> Ireland </h4>
    </div>
</div>

<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?france" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> France </h4>
    </div>
</div>

<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?italy" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> Italy </h4>
    </div>
</div>

<div class="countries-card">
    <img src= "https://source.unsplash.com/1080x1080/?iceland" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4> Iceland </h4>
    </div>
</div>

