<% 6.times do %>
  <div class="card" style="width: 50px;">
    <img src="https://images.pexels.com/photos/428427/pexels-photo-428427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="log cabin">
    <div class="card-body">
      <h4>City Name</h4>
      <p class="card-text">A remote cabin in the woods</p>
    </div>
  </div>
<% end %>
