<!-- Banner -->
<div class="banner">
  <div class="content">
    <h1>Cabin-Bnb</h1>
  </div>
</div>

<!-- Cabins -->
<h2>Top Rated Cabins</h2>
<div class="cabins-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="cards">
          <%= render 'cabin-cards' %>
        </div>
      </div>
    </div>
  </div>
</div>
