<div class="banner">
  <h1>Cabin-Bnb</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">
          <% render 'local-cities' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">

        </div>
      </div>
    </div>
  </div>
</div>
