<div class="banner">
  <h1>Cabin-Bnb</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% 6.times do %>
        <%# render 'local-cities' %>
        <div class="card">
          <img src="https://images.pexels.com/photos/428427/pexels-photo-428427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="log cabin">
          <div class="card-body">
            <h4>City Name</h4>
            <p class="card-text">A remote cabin in the woods</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <% 6.times do %>
        <%# render 'local-cities' %>
        <div class="card">
          <img src="https://images.pexels.com/photos/428427/pexels-photo-428427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="log cabin">
          <div class="card-body">
            <h4>Experiences</h4>
            <p class="card-text">Some new experinece to do.</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" style="background-color:black;">
    <div class="col">
      <div class="cards">
        <% 6.times do %>
        <%# render 'local-cities' %>
        <div class="card">
          <img src="https://images.pexels.com/photos/428427/pexels-photo-428427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="log cabin">
          <div class="card-body">
            <h4>Host Details</h4>          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
