.footer {
	position: fixed;
	top: 0px;
	width: 100%;
	display: block;
	overflow: auto;
	bottom: 0px;
	background-color: #F7F7F7;
	border-top: 1px solid #DDDDDD
}

.footer-container {
	box-align: center;
	flex-align: center;
	height: 100%;
	position: relative;
	width: 100%;
	justify-content: space-between;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0 auto;
}

.about-links-container {
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}

.social-media-container {
	padding-top: 24px;
	padding-bottom: 24px;
	bottom: 0px;
}
