/* Main navbar */
.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;
	display: flex;
	align-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 97;
}

.navbar-logo {
	z-index: 98;
}

.navbar-search-bar {
	width: 45%;
	z-index: 98;
}

.navbar-login {
	z-index: 98;
}

