/* Main navbar */
.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	background-color: #A8DADC;opacity:0.8;
	display: flex;
	align-content: space-around !important;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 97;
}

.navbar-logo {
	z-index: 98;
}

.navbar-search-bar {
	width: 45%;
	z-index: 98;
  margin: 0 10px;
}

.navbar-login {
	z-index: 98;
}

.navbar-logo > .btn {
  margin: 10px;
}

.dropdown > .btn {
  margin: 10px;
}
